@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  @font-face {
    font-family: "titlefont";
    font-weight: 300;
    color: #07d6d1;
    src: url("/fonts/gvonzThin.ttf") format("truetype");
    font-display: swap;
  }
  @font-face {
    font-family: "syoog";
    font-weight: 300;
    color: #07d6d1;
    src: url("/fonts/syoog.otf") format("opentype");
    font-display: swap;
  }

}